@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$bg-color: #f6f7fb;
$placeholder-color: #b9bdcf;
$blue: #1e86ff;
$text-color: #334680;

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: $bg-color;
  margin: 40px 9%;
  min-height: 85vh;
}

#logo {
  font-size: 1.5em;
  font-weight: 200;

  span {
    font-weight: bold;
  }
}

footer {
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 0rem;
  text-align: center;
  color: $placeholder-color;
  font-size: 13px;

  a {
    color: #9498a8;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 768px) {
  body {
    margin: 40px 3%;
  }
}
