.Job {
  color: $text-color;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 55px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 768px) {
  .Job {
    display: block;
  }
}
